body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    border: 4px solid black;
    width: 40vw;
    height: 40vw;
    user-select: none;
}

.square {
    width: 5vw;
    height: 5vw;
    display: inline-block;
    vertical-align: top;
}

.circle {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: translate(1.5vw, 1.5vw);
}

.white {
    background-color: #f0f0f0;
}

.black {
    background-color: #0d4d05;
}

.piece {
    width:inherit;
    height:inherit;
    font-size: 5vw;
    line-height: 5vw;
}

.floating {
    left: -100vw;
    width: 5vw;
    height: 5vw;
    position: fixed;
    display: block;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    pointer-events: none;
}


input {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}
